span {
    margin: 5px;
}

.title {
    font-size: xx-large;
    text-align: center;
}

nav {
    background-color: salmon;
    text-align: right;
}

.post {
    margin: 5px;
    border: 2px solid black;
}